@page
@model KhumaloCraft_Part2.Pages.AboutModel
@{
}
<div class="text-center">
    <h1>What is KhumaloCraft Emporium</h1>
    <p>KhumaloCraft Emporium is an e-commerce platform that Artisans from all over the world can use to showcase and sell their products.</p>
    <br><br>
    <h2>Founders</h2>
    <p>James Khumalo: A passonate entrepeneur set on creating the worlds best e-commerce platform for Artisans from all over the globe </p>
</div>
