@page
@model KhumaloCraft_Part2.Pages.ContactModel
@{
}
<div class="text-center">
    <h1 class="display-4">Our Contact info</h1>
        <p>Tel: 012 345 6789</p>
        <p>Email: KKraft@email.com</p>
</div>